LAB7/lab_7_cycles.docx
LAB7/.vs/LAB7/v17/DocumentLayout.json
LAB7/.vs/LAB7/v17/DocumentLayout.backup.json
LAB7/.vs/LAB7/v17/.suo
LAB7/.vs/LAB7/FileContentIndex/acbbd9df-c03e-4f14-a7c3-6bf0f9c08657.vsidx
LAB7/.vs/LAB7/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
LAB7/.vs/LAB7/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
LAB7/.vs/LAB7/CopilotIndices/17.12.31.40377/SemanticSymbols.db
LAB7/.vs/LAB7/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
LAB7/.vs/LAB7/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
LAB7/.vs/LAB7/CopilotIndices/17.12.31.40377/CodeChunks.db
LAB6/lab_6_conditions.docx
LAB6/.vs/ProjectEvaluation/lab6.strings.v9.bin
LAB6/.vs/ProjectEvaluation/lab6.projects.v9.bin
LAB6/.vs/ProjectEvaluation/lab6.metadata.v9.bin
LAB6/.vs/LAB6/v17/DocumentLayout.json
LAB6/.vs/LAB6/v17/DocumentLayout.backup.json
LAB6/.vs/LAB6/v17/.suo
LAB6/.vs/LAB6/v17/.futdcache.v2
LAB6/.vs/LAB6/FileContentIndex/5f0ed3bc-cb20-4acf-9ab8-7f78b7be3e55.vsidx
LAB6/.vs/LAB6/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
LAB6/.vs/LAB6/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
LAB6/.vs/LAB6/CopilotIndices/17.12.31.40377/SemanticSymbols.db
LAB6/.vs/LAB6/CopilotIndices/17.12.31.40377/CodeChunks.db
LAB5/lab_5_functions.docx
LAB5/.vs/ProjectEvaluation/lab5.strings.v9.bin
LAB5/.vs/ProjectEvaluation/lab5.projects.v9.bin
LAB5/.vs/ProjectEvaluation/lab5.metadata.v9.bin
LAB5/.vs/LAB5/v17/DocumentLayout.json
LAB5/.vs/LAB5/v17/DocumentLayout.backup.json
LAB5/.vs/LAB5/v17/.suo
LAB5/.vs/LAB5/v17/.futdcache.v2
LAB5/.vs/LAB5/FileContentIndex/d5eec16d-fe46-4472-b149-05fe4245f9ff.vsidx
LAB5/.vs/LAB5/FileContentIndex/cd12e0d8-b73f-4777-9aee-01f5438f1e23.vsidx
LAB5/.vs/LAB5/DesignTimeBuild/.dtbcache.v2
LAB5/.vs/LAB5/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
LAB5/.vs/LAB5/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
LAB5/.vs/LAB5/CopilotIndices/17.12.31.40377/SemanticSymbols.db
LAB5/.vs/LAB5/CopilotIndices/17.12.31.40377/CodeChunks.db
LAB4/lab_4_data_types.docx
LAB4/.vs/ProjectEvaluation/lab4.strings.v9.bin
LAB4/.vs/ProjectEvaluation/lab4.projects.v9.bin
LAB4/.vs/ProjectEvaluation/lab4.metadata.v9.bin
LAB4/.vs/LAB4/v17/DocumentLayout.json
LAB4/.vs/LAB4/v17/DocumentLayout.backup.json
LAB4/.vs/LAB4/v17/.suo
LAB4/.vs/LAB4/v17/.futdcache.v2
LAB4/.vs/LAB4/FileContentIndex/6c10e4bc-902b-4745-9ab9-6e65704f42df.vsidx
LAB4/.vs/LAB4/FileContentIndex/2fbdb87b-61e6-4f41-bd76-4f8786ed6277.vsidx
LAB4/.vs/LAB4/DesignTimeBuild/.dtbcache.v2
LAB4/.vs/LAB4/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
LAB4/.vs/LAB4/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
LAB4/.vs/LAB4/CopilotIndices/17.12.31.40377/SemanticSymbols.db
LAB4/.vs/LAB4/CopilotIndices/17.12.31.40377/CodeChunks.db
LAB9/obj/project.nuget.cache
LAB9/obj/project.assets.json
LAB9/obj/LAB9.csproj.nuget.g.targets
LAB9/obj/LAB9.csproj.nuget.g.props
LAB9/obj/LAB9.csproj.nuget.dgspec.json
LAB9/obj/Debug/net8.0/refint/LAB9.dll
LAB9/obj/Debug/net8.0/ref/LAB9.dll
LAB9/obj/Debug/net8.0/LAB9.sourcelink.json
LAB9/obj/Debug/net8.0/LAB9.pdb
LAB9/obj/Debug/net8.0/LAB9.GlobalUsings.g.cs
LAB9/obj/Debug/net8.0/LAB9.genruntimeconfig.cache
LAB9/obj/Debug/net8.0/LAB9.GeneratedMSBuildEditorConfig.editorconfig
LAB9/obj/Debug/net8.0/LAB9.dll
LAB9/obj/Debug/net8.0/LAB9.csproj.FileListAbsolute.txt
LAB9/obj/Debug/net8.0/LAB9.csproj.CoreCompileInputs.cache
LAB9/obj/Debug/net8.0/LAB9.csproj.BuildWithSkipAnalyzers
LAB9/obj/Debug/net8.0/LAB9.assets.cache
LAB9/obj/Debug/net8.0/LAB9.AssemblyInfoInputs.cache
LAB9/obj/Debug/net8.0/LAB9.AssemblyInfo.cs
LAB9/obj/Debug/net8.0/apphost.exe
LAB9/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB9/lab_9_sort.docx
LAB9/bin/Debug/net8.0/LAB9.runtimeconfig.json
LAB9/bin/Debug/net8.0/LAB9.pdb
LAB9/bin/Debug/net8.0/LAB9.exe
LAB9/bin/Debug/net8.0/LAB9.dll
LAB9/bin/Debug/net8.0/LAB9.deps.json
LAB9/.vs/LAB9/v17/DocumentLayout.json
LAB9/.vs/LAB9/v17/DocumentLayout.backup.json
LAB9/.vs/LAB9/v17/.suo
LAB9/.vs/LAB9/FileContentIndex/60a36020-fcb9-44a3-b0ec-f43d89e8d154.vsidx
LAB9/.vs/LAB9/FileContentIndex/55f65ffa-61b4-40c6-89bd-ea2ddbab4478.vsidx
LAB9/.vs/LAB9/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
LAB9/.vs/LAB9/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
LAB9/.vs/LAB9/CopilotIndices/17.12.31.40377/SemanticSymbols.db
LAB9/.vs/LAB9/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
LAB9/.vs/LAB9/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
LAB9/.vs/LAB9/CopilotIndices/17.12.31.40377/CodeChunks.db
LAB8/lab_8_mas.docx
LAB8/.vs/ProjectEvaluation/lab8.strings.v9.bin
LAB8/.vs/ProjectEvaluation/lab8.projects.v9.bin
LAB8/.vs/ProjectEvaluation/lab8.metadata.v9.bin
LAB8/.vs/LAB8/v17/DocumentLayout.json
LAB8/.vs/LAB8/v17/DocumentLayout.backup.json
LAB8/.vs/LAB8/v17/.suo
LAB8/.vs/LAB8/v17/.futdcache.v2
LAB8/.vs/LAB8/FileContentIndex/de02fd1b-9e7a-495a-b89c-d7705ed2cd82.vsidx
LAB8/.vs/LAB8/FileContentIndex/da7a21b3-1d94-4836-9101-61c750ccb308.vsidx
LAB8/.vs/LAB8/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
LAB8/.vs/LAB8/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
LAB8/.vs/LAB8/CopilotIndices/17.12.31.40377/SemanticSymbols.db
LAB8/.vs/LAB8/CopilotIndices/17.12.31.40377/CodeChunks.db
LAB7/.vs/ProjectEvaluation/lab7.strings.v9.bin
LAB7/.vs/ProjectEvaluation/lab7.projects.v9.bin
LAB7/.vs/ProjectEvaluation/lab7.metadata.v9.bin
LAB7/.vs/LAB7/v17/.futdcache.v2
*.v2
*.bin
*.dll
*.json
*.exe
*.pdb
*.vsidx
*.db
*.docx
*.cache
*.BuildWithSkipAnalyzers
*.editorconfig
*.targets
*.props
*.db-wal
*.db-shm
LAB10/.vs/LAB10/v17/.suo
LAB10/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB10/obj/Debug/net8.0/LAB10.AssemblyInfo.cs
LAB10/obj/Debug/net8.0/LAB10.GlobalUsings.g.cs
LAB11/.vs/LAB11/v17/.suo
LAB11/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB11/obj/Debug/net8.0/LAB11.AssemblyInfo.cs
LAB11/obj/Debug/net8.0/LAB11.GlobalUsings.g.cs
LAB12/.vs/LAB12/v17/.suo
LAB12/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB12/obj/Debug/net8.0/LAB12.AssemblyInfo.cs
LAB12/obj/Debug/net8.0/LAB12.GlobalUsings.g.cs
LAB13/.vs/LAB13/v17/.suo
LAB13/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB13/obj/Debug/net8.0/LAB13.AssemblyInfo.cs
LAB13/obj/Debug/net8.0/LAB13.GlobalUsings.g.cs

LAB10/obj/Debug/net8.0/LAB10.csproj.FileListAbsolute.txt
LAB11/obj/Debug/net8.0/LAB11.csproj.FileListAbsolute.txt
LAB12/obj/Debug/net8.0/LAB12.csproj.FileListAbsolute.txt
LAB13/obj/Debug/net8.0/LAB13.csproj.FileListAbsolute.txt
LAB14/.vs/LAB14/v17/.suo
LAB14/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB14/obj/Debug/net8.0/LAB14.AssemblyInfo.cs
LAB14/obj/Debug/net8.0/LAB14.csproj.FileListAbsolute.txt
LAB14/obj/Debug/net8.0/LAB14.GlobalUsings.g.cs
LAB15/.vs/LAB15/v17/.suo
LAB15/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB15/obj/Debug/net8.0/LAB15.AssemblyInfo.cs
LAB15/obj/Debug/net8.0/LAB15.csproj.FileListAbsolute.txt
LAB15/obj/Debug/net8.0/LAB15.GlobalUsings.g.cs
LAB16/.vs/LAB16/v17/.suo
LAB16/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LAB16/obj/Debug/net8.0/LAB16.AssemblyInfo.cs
LAB16/obj/Debug/net8.0/LAB16.csproj.FileListAbsolute.txt
LAB16/obj/Debug/net8.0/LAB16.GlobalUsings.g.cs
